spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/todolist
    username: sa
    password:
    driver-class-name: org.h2.Driver
#  datasource:
#    url: jdbc:mysql://localhost:3307/mysqlDB
#    username: root
#    password: password
#    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    datasource-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true

logging:
  config:
    classpath: logback.xml
  level:
    org.hibernate.SQL: debug
    org.springframework.security: DEBUG
  #  org.hibernate.type: trace