<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../css/categoryList.css"
      th:href="@{/css/categoryList.css}"
    />
    <script src="https://kit.fontawesome.com/4cc3138973.js" crossorigin="anonymous"></script>
    <style>
      .field-error {
        text-align: left;
        font-size: 14px;
        border-color: #dc3545;
        color: #dc3545;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="container__title">
        <h1>카테고리 목록</h1>
      </div>

      
      <th:block th:each="category : ${categoryFormList}" >
          <form method="post"  th:action="@{/category/revise/{id} (id=${category.id})}" class="category__container">
            <input type="text" th:value="${category.categoryName}" th:name="categoryName">
            <button type="submit"><i class="fas fa-pencil-alt"></i></button>
            <a th:href="@{/category/delete/{id} (id=${category.id})}"><i class="fas fa-trash-alt"></i></a>
          </form>
      </th:block>
  </body>
</html>

<!-- th:action="@{/category/revise/{id} (id=${category.id})}" -->
<!-- th:action="@{/category/delete/{id} (id=${category.id})}" -->