<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      th:href="@{/css/login.css}"
      href="../css/login.css"
    />
    <style>
      .field-error {
        text-align: left;
        font-size: 14px;
        border-color: #dc3545;
        color: #dc3545;
      }
    </style>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form
          class="login-form"
          method="post"
          th:action
          th:object="${loginForm}"
        >
          <div th:if="${#fields.hasGlobalErrors()}">
            <p
              class="field-error"
              th:each="err : ${#fields.globalErrors()}"
              th:text="${err}"
            >
              전체 오류 메시지
            </p>
          </div>
          <input
            type="text"
            placeholder="email address"
            id="email"
            th:field="*{email}"
            th:errorclass="field-error"
          />
          <div class="field-error" th:errors="*{email}" />
          <input
            type="password"
            placeholder="password"
            id="password"
            th:field="*{password}"
            th:errorclass="field-error"
          />
          <div class="field-error" th:errors="*{password}" />
          <button type="submit">로그인</button>
          <p class="message">
            회원이 아니세요?
            <a href="./signForm.html" th:href="@{/sign}">회원가입</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
