@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo__category__form {
  position: relative;
  width: 50%;
  top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.todo__category__form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.todo__category__form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 20%;
  border: 0;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.add__todo {
  position: relative;
  width: 50%;
  top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.add__todo button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  border: 0;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  padding: 12px 24px;
}
.add__todo a {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  font-size: 25px;
}

.todo__container {
  position: relative;
  width: 70%;
  top: 100px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.todo__container__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.todo_container_category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
