<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/todo.css" th:href="@{/css/todo.css}" />
    <style>
      .field-error {
        text-align: left;
        font-size: 14px;
        border-color: #dc3545;
        color: #dc3545;
      }
    </style>
    <script
      src="https://kit.fontawesome.com/4cc3138973.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a th:href="@{/logout}">로그아웃</a>
    <div class="container">
      <!-- 투두 등록하러 가기  -->
      <div class="add__todo">
        <button>
          <a href="../todo/addTodo.html" th:href="@{/todolist/add}"
            >할일 등록하기</a
          >
        </button>
      </div>

      <!-- 카테고리 이름 -->
      <form
        action=""
        class="todo__category__form"
        method="post"
        th:action="@{/category/add}"
        th:object="${categoryForm}"
      >
        <input
          type="text"
          placeholder="카테고리 입력..."
          id="name"
          th:field="*{categoryName}"
        />
        <div class="field-error" th:errors="*{categoryName}"></div>
        <button type="submit">Add</button>
        <a th:href="@{/category/list}">카테고리 목록 보기</a>
      </form>
    </div>
    <!-- todo -->
    <div class="todo__container">
      <div class="todo__container__sub" th:each="todo : ${todoFormList}">
        <input
          th:if="${todo.status.toString().equals('DOING')}"
          type="checkbox"
        />
        <input
          th:if="${todo.status.toString().equals('COMPLETE')}"
          type="checkbox"
          checked
        />

        <div
          class="todo_container_category"
          th:each="name : ${todo.categoryName}"
        >
          <p th:text="${name}"></p>
        </div>
        <p th:text="${todo.title}">Title</p>
        <p th:text="${todo.description}">Description</p>
        <p th:text="${todo.deadline}">deadline</p>

        <a th:href="@{/todo/revise/{id} (id=${todo.id})}">
          <i class="fas fa-pencil-alt"> </i>
        </a>
        <a th:href="@{/todo/delete/{id} (id=${todo.id})}">
          <i class="fas fa-trash-alt"> </i>
        </a>
      </div>
    </div>
  </body>
</html>
